html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* General styling for the body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background image fixed during scrolling */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}

/* Add to styles.css */
.highlight {
    background-color: #d3f9d8; /* Light green background for highlighted items */
    border-radius: 5px;
}

/* Add to styles.css */
#search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: black;
}

#symptoms-container {
    color: black;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
}

.checkbox-container {
    margin-bottom: 10px;
}

.checkbox-container label {
    margin-left: 5px;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

/* Specific background for the welcome page */
.welcome-background {
    background-image: url('A:/machine learning/health problem prediction/client/home page.jpg');
    background-size: cover;
}

/* Specific background for the symptoms page */
.symptoms-background {
    background-image: url('A:/machine learning/health problem prediction/client/second page.jpg');
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
    margin: auto;
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropbtn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    text-align: center;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    margin: 20px;
}
